<% layout('layout') %>

<p>Hello, <%= username %></p>

<pre id="messages" style="max-height:300px; overflow:auto;"></pre>
<form method="post" id="message-form">
  <input type="text" placeholder="Type your message" id="message-input" name="message" autofocus required>
  <input type="submit" value="OK">
</form>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
/** Socket */
var sio = io.connect(), socket = sio.socket.of('/chat');
socket
.on('connect', function () {
  // I'm connected
})
.on('join', function (username, time) {
  // someone joined room
  addMessage(username, 'joined room', time);
})
.on('bye', function (username, time) {
  // someone left room
  addMessage(username, 'left room', time);
})
.on('error', function (error) {
  // an error occured
  alert('Error: ' + error);
})
.on('message', function (username, message, time) {
  // someone wrote a message
  addMessage(username, message, time);
});

/** Form */
var messageInput = document.getElementById('message-input');
document.getElementById('message-form').onsubmit = function () {
  socket.emit('write', messageInput.value);
  messageInput.value = '';
  return false;
}

/** Display */
var messagesArea = document.getElementById('messages');
function addMessage(username, message, time) {
  if (typeof time != 'string') {
    var date = new Date(time);
    time = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
  }
  var line = '[' + time + '] <strong>' + username + '</strong>: ' + message + '<br />';
  messagesArea.innerHTML = line + messagesArea.innerHTML;
}
</script>
